extends ./route-pages-base.pug

block title 
    h1.white-text Каталог экскурсий

block content 
    section.catalog
        .container
            .catalog__search-bar
                p Поиск:
                input.search-input(type="text" placeholder="Введите название экскурсии или достопримечтаельности")
                button.search-btn Найти
            .catalog__tour-container
                .tour
                    .tour-image
                        img(
                            alt="tour1" 
                            src="./assets/media/tour1.jpg"
                            )
                    h2(class="tour__name") Бункер Сталина
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="" 
                            src="./assets/media/tour2.jpg" 
                            )
                    h2(class="tour__name") Кремль
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="" 
                            src="./assets/media/tour3.jpg"
                            )
                    h2(class="tour__name") Прогулка на пароме
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="tour1" 
                            src="./assets/media/tour1.jpg"
                            )
                    h2(class="tour__name") Бункер Сталина
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="" 
                            src="./assets/media/tour2.jpg" 
                            )
                    h2(class="tour__name") Кремль
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="" 
                            src="./assets/media/tour3.jpg"
                            )
                    h2(class="tour__name") Прогулка на пароме
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="tour1" 
                            src="./assets/media/tour1.jpg"
                            )
                    h2(class="tour__name") Бункер Сталина
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="" 
                            src="./assets/media/tour2.jpg" 
                            )
                    h2(class="tour__name") Кремль
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....
                .tour
                    .tour-image
                        img(
                            alt="" 
                            src="./assets/media/tour3.jpg"
                            )
                    h2(class="tour__name") Прогулка на пароме
                    p(class="tour__descr")
                        | Это исторически значимое путешествие, которое подарит вам и
                        |   вашим спутникам возможность узнать больше о Сталине и его вкладе
                        |   в события XX века.
                    button(class="tour__learnmore-btn") Узнать больше....